# Настройки джанго
SECRET_KEY=
DEBUG=

# Настройки postgres
NAME=
USER_NAME=
PASSWORD=
HOST=
PORT=

# Настройки celery
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# Настройки интеграции с телеграм
BOT_TOKEN=